-
    data.navigation = [
        {
            text: 'What is React',
            url: 'what-is-react'
        },
        {
            text: 'Getting started',
            url: 'getting-started'
        },
        {
            text: 'Notable features',
            url: 'notable-features'
        },
        {
            text: 'History',
            url: 'history'
        },
        {
            text: 'Assessment',
            url: 'assessment'
        }
    ];

// TODO nav__row
nav.nav
    .nav__row.content
        a.nav__name(href='/') React
        button.nav__item.nav__item--mobile
            img(src='images/nav.svg')
        div.nav__list
            each item in data.navigation
                if item.url === data.url
                    a.nav__item.nav__item--link.nav__item--active(href=item.url)= item.text
                else
                    a.nav__item.nav__item--link(href=item.url)= item.text
            -if (isAuthenticated)
                a.nav__item.nav__item--link(href="profile") profile
            -if (!isAuthenticated)
                a.nav__item.nav__item--link(href="login") login
                a.nav__item.nav__item--link(href="register") register
