/* reset */
body {
  margin: 0;
  font-family: Helvetica, Arial, sans-serif;
  line-height: 1.5;
}

a {
  text-decoration: none;
}
/* main a {
  color: black;
  background-color: rgba(187,239,253,0.3);
}
main a:hover {
  background-color: rgb(187,239,253);
} */

.scroll {
  overflow: scroll;
}

h1, h2, h3, h4 {
  scroll-margin-top: 4.5rem;
}

img {
  max-width: 100%;
}

/* global */
.content {
  margin: 0 auto;
  padding: 0 .75rem;
}

.row {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.col {
  flex: 1;
}

/* link */
.link--style-rounded {
  border-radius: .5rem 0;
  padding: .4rem;
}

/* button */
.button {
  padding: 1rem 1.5rem;
  border: 1px solid transparent;
  display: inline-block;
  border-radius: .3rem;
}
.button--border-blue {
  border: 1px solid rgb(120, 224, 252);
  color: rgb(120, 224, 252)
}
.button--border-blue:hover {
  text-decoration: underline;
}

/* color styles */
.link--text-blue {
  color: rgb(120, 224, 252);
}
.link--text-blue:hover {
  color: rgb(97, 218, 251);
}
.link--background-blue,
.button--background-blue {
  background-color: rgb(120, 224, 252);
  color: black;
}
.link--background-blue:hover,
.button--background-blue:hover {
  background-color: rgb(97, 218, 251);
}
.link--background-gray-hover:hover {
  background-color: #f1f1f1;
}

/* accessibility */
.skip:not(:focus):not(:focus-within) {
  position: absolute;
  height: 1px;
  margin-top: -1px;
  overflow: hidden;
}

/* navigation */
.nav {
  background-color: #20232a;
  padding: .75rem 0;
  z-index: 1;
}
.nav__row {
  display: flex;
  flex-direction: column;
}
.nav__item {
  padding: .5rem;
  color: white;
}
.nav__item--name,
.nav__item:hover,
.nav__item--active {
  color: #61dafb;
}
.nav__item--name {
  font-weight: bold;
}

/* navigation aside */
.nav-aside__item {
  color: inherit;
  font-size: .875rem;
}
.nav-aside__item:hover {
text-decoration: underline;
}

/* header */
.header__title {
  margin: 1rem 0;
}
.header__description {
  font-size: 1.4rem;
  margin-top: 0;
}

/* header introduction */
.header-introduction {
  background-color: #282c34;
  padding: 5.5rem 0;
  color: rgb(97, 218, 251);
  text-align: center;
}
.header-introduction__link {
  margin: 0 .5rem;
}
.header-introduction__title {
  margin: 0;
  font-size: 3rem;
}
.header-introduction__description {
  font-size: 1.5rem;
  margin: 1rem 0 0 0;
}
.header-introduction__text {
  margin-top: .8rem;
}
.header-introduction__row {
  align-items: center;
  justify-content: center;
  margin-top: 1.5rem;
}

/* aside */
.aside {
  color: #6c757d;
}
aside > nav {
  display: flex;
  flex-direction: column;
}
.aside__title {
  font-weight: bold;
  border-bottom: 1px solid #dee2e6;
  margin-bottom: .5rem;
}
.aside ul {
  list-style: none;
  padding-left: 1rem;
}
.aside > nav > ul {
  margin: 0;
  padding: 0;
}

/* table */
.table {
  border-spacing: 0;
}
.table tr:nth-child(even) {
  background: #ccc;
}
.table>:not(caption)>*>* {
  padding: .5rem;
}
.table thead {
  background-color: #aaa;
}
.table th {
  text-align: left;
}

.sources {
  padding: 0 4rem 2rem 4rem;
}

/* footer */
footer {
  background-color: #20232a;
  color: #eeebe3;
  font-size: .875rem;
  word-break: break-word;
  padding: 1rem 0;
  margin-top: 1rem;
}
.footer__sources {
  border-bottom: 1px solid #d2d2d7;
}

/* breakpoints */
@media (min-width: 768px) {
  .nav {
    padding: 0;
    position: sticky;
    top: 0;
  }
  .row,
  .nav__row {
    flex-direction: row;
  }
  .nav__item {
    margin: 0 .5rem 0 0;
    padding: 1.2rem .5rem;
  }

  aside {
    height: calc(100vh - 10rem);
    position: sticky;
    top: 5rem;
  }

  .col {
    padding: 4rem;
  }

  .header-introduction__text {
    margin-top: 0;
  }

  .table>:not(caption)>*>*:nth-child(-n+2) {
    white-space: nowrap;
  }

  .main-grid {
    display: grid;
    grid-template-columns: 4fr 1fr;
    grid-template-areas:
      "header aside"
      "content aside";
    grid-column-gap: 30px;
  }
  .main-grid__aside {
    grid-area: aside;
  }
  .main-grid__header {
    grid-area: header;
  }
  .main-grid__main {
    grid-area: content;
  }
}

@media (min-width: 1400px) {
  .content {
    max-width: 1400px;
  }
}
