/* reset  (added flex-direction, flex and min-height so the footer does not float)*/
body {
  margin: 0;
  font-family: Helvetica, Arial, sans-serif;
  line-height: 1.5;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

a {
  text-decoration: none;
}

/* global */
.content {
  margin: 0 auto;
  padding: 0 0.75rem;
}
/* button */
button {
  padding: 1rem 1.5rem;
  color: white;
  border: none;
}
button:hover {
  background-color: white;
  color: black;
}
.button--blue {
  background-color: #61dafb;
}

/* accessibility */
.skip:not(:focus):not(:focus-within) {
  position: absolute;
  height: 1px;
  margin-top: -1px;
  overflow: hidden;
}

/* navigation */
.navbar {
  background-color: #20232a;
  padding: 0.75rem 0;
}
.navbar a {
  padding: 0.5rem;
  color: white;
}
.navbar a:hover,
.navbar a.navbar__item--active {
  color: #61dafb;
}
.navbar > div {
  display: flex;
  flex-direction: column;
}

/* header */
.header-homepage {
  background-color: #282c34;

  padding: 5.5rem 0;
  color: white;
}
.header-homepage__title {
  font-size: 3.5rem;
  color: #61dafb;
  margin: 0 0 1rem 0;
}

/* calltoaction */
.calltoaction {
  background-color: #282c34;
}

/* footer */
footer {
  background-color: #20232a;
  font-size: 0.875rem;
  color: #63707c;
  padding: 1rem 0;
  z-index: 3;
  display: block;
  margin-top: auto;
}
footer section {
  overflow: auto;
}
footer .footer__sources {
  border-bottom: 1px solid #d2d2d7;
}
aside nav a:visited {
  color: black;
}
aside nav a:hover {
  color: rgb(43, 43, 43);
  border-radius: 0.2rem;
  border: 1.5px solid #61dafb;
}
aside {
  height: (100vh - 60px);
  width: 100%;
  z-index: 1;
  top: 10rem;
}
aside h2 {
  margin-left: 0.5rem;
  margin-bottom: 0.1rem;
}
aside nav a {
  display: block;
  text-decoration: none;
  color: black;
  padding-left: 0.5rem;
  padding-top: 0.5rem;
}

/* table */
.wikitable {
  border-spacing: 0;
}

.wikitable tr:nth-child(even) {
  background: #CCC;
}

.wikitable td {
  padding-right: 5px;
}

.firstcol {
  width: 5em;
}

.secondcol {
  width: 7em;
}

th.wikitable-header {
  text-align: left;
  vertical-align: text-top;
  text-overflow: '';
}

.scrollable {
  overflow-x: auto;
  /*overflow: scroll;*/
}

/* breakpoints */
@media (min-width: 768px) {
  footer {
    width: 100%;
    bottom: 0;
    z-index: 3;
    display: block;
    margin-top: auto;
  }
  header {
    margin-top: 5rem;
  }
  .header-homepage {
    margin-top: 3.9rem;
  }
  aside {
    height: 100%;
    width: 13rem;
    background-color: gray;
    z-index: 1;
    right: 0;
    position: fixed;
    top: 3rem;
  }
  aside h2 {
    margin-left: 0.75rem;
    margin-top: 2rem;
    margin-bottom: 0.1rem;
  }
  aside nav a {
    display: block;
    text-decoration: none;
    color: black;
    padding-left: 2rem;
    padding-top: 0.5rem;
  }

  .navbar > div {
    flex-direction: row;
  }

  .navbar {
    padding: 0;
    position: fixed;
    z-index: 2;
    top: 0;
    width: 100%;
  }
  .navbar a {
    margin: 0 0.5rem 0 0;
    padding: 1.2rem 0.5rem;
  }
}

@media (min-width: 1400px) {
  .content {
    max-width: 1400px;
  }
}
