/*
 * base
 */

body {
  font-family: $font-family-base;
  line-height: $line-height-base;
  overflow-wrap: break-word;
}

.skip:not(:focus):not(:focus-within) {
  position: absolute;
  height: 1px;
  margin-top: -1px;
  overflow: hidden;
}

// TODO
.content {
  margin: 0 auto;
  padding: 0 0.75rem;

  @media (min-width: 1400px) {
    max-width: 1400px;
  }
}

a {
  text-decoration: none;
  padding: 0.1rem;

  &[target="_blank"]::after {
    content: url(../images/external.svg);
    margin-left: 0.2rem;
  }
}

details {
  summary, .button {
    margin: 1rem 0;
  }
}
