extends ../layouts/_base

include ../components/_header

block setData
    -
        // page values
        data.url = "change_Name";
        data.title = "Change name";

block content
    form.login_register(action='/changed_email' method='post')
        +header('Change Name')
        p
          | New Email:
          input.email(type='text' name='name' placeholder='Enter your new name' required='')
        p
          | confirm new email:
          input.email(type='text' name='second_check' placeholder='confirm your name' required='')
          input(type='hidden' name="old_value_email " value=user.email)
          input(type='hidden' name="password" value=user.password)
          input(type='hidden' name="name" value=user.name)
          input.bttnRegister(type='submit' value='change name') 