extends ../layouts/_base

include ../components/_header
include ../components/_table

block setData
    -
        // page values
        data.url = "profile";
        data.title = "Profile";

block content
    article.pushdown
        +header('Profile Page')

        section.box_with_field
            h2 Personal information
            p #[strong Name]: #{user.name}
            form(action='/change_name' method='get')
                p
                    button.change_input(type='submit') change Name
            p #[strong Email]: #{user.email}
            form(action='/change_email' method='get')
                p
                    button.change_input(type='submit') change Email      
            form(action='/logout' method='post')
                p
                    button.log_out(type='submit') Log out
