extends ../layouts/_base

include ../components/_header
include ../components/_table

block setData
    -
        // page values
        data.url = "results";
        data.title = "Results";

block content
    article.pushdown
        +header('Results Page')
        section.box_with_field
            h2  correctness percentage
            table.table
                thead
                    tr
                        th Scope
                        th Percentage
                tbody
                    tr
                        td Total attempts
                        td #{percentage.total}
                    tr
                        td Current session attempts
                        td #{percentage.session}
