extends ../layouts/_base

include ../components/_header
include ../components/_table

block setData
    -
        // page values
        data.url = "results";
        data.title = "Results";

        data.profileexample = {
            th: ["Quiz", "Grade"],
            grades: [
                {
                    quiz: "React",
                    grade: 7.8
                },
                {
                    quiz: "React2",
                    grade: 9
                }
            ]
        };

block content
    article.pushdown
        +header('Results Page')
        section.box_with_field
            h2 Quiz attempts record
            +table(data.profileexample.th, data.profileexample.grades)