meta(charset='utf-8')
meta(name='viewport' content='width=device-width, initial-scale=1')

title= data.title || 'Webtech homework assignment'

meta(name='description' content= data.description || 'This website was made by students of the University Utrecht as a homework assignment for the webtechnologies course.')
meta(name='keywords' content= data.keywords || 'React, React.js, JavaScript, libary, HTML, framework, components, JSX, example, subclasses, about react')

link(rel="stylesheet" href="/css/main.css")
link(rel="icon" href="/images/favicon.ico")
