// Box to indicatie a relation between information
.box_with_field {
  border: 2px solid $blue-base;
  border-radius: 5px;
  padding-left: 0.5rem;
  padding-top: 0.1rem;
  padding-bottom: auto;
  margin-bottom: 0.5rem;
}
h2 {
  margin-top: 0.1rem;
  margin-bottom: 0;
}
.pushdown {
  margin-bottom: 19rem;
}
