/*
 * button
 */

.button {
  padding: 0.8rem 1.5rem;
  display: inline-block;
  font-weight: bold;

  // colors
  &--blue {
    @include button-style(#000, $blue-base, $blue-base);
  }
  &--darkblue {
    @include button-style(#000, $blue-dark, $blue-dark);
  }
  &--gray {
    @include button-style(#000, #d8d8d8, #d8d8d8);
  }

  &--border-blue {
    @include button-style($blue-base, transparent, $blue-base);
  }
  &--border-darkblue {
    @include button-style($blue-dark, transparent, $blue-dark);
  }
  &--border-gray {
    @include button-style(#000, transparent, #d8d8d8);
  }

  // sizes
  &--small {
    @include button-size($font-size-small);
  }
  &--large {
    @include button-size($font-size-large);
  }

  // other
  &:not(:disabled) {
    cursor: pointer;
  }
}

.log_out {
  border: 2px solid black;
  border-radius: 5px;
  background: #ff5047;
  padding: 0.5rem;
  text-align: center;
}

.change_input {
  border: 2px solid black;
  border-radius: 5px;
  padding: 0.5rem;
  text-align: center;
}
