/*
 * note
 */
.note {
  background-color: #eeeeee;
  margin: 20px 0px 30px 0px;
  padding: 5px 15px;
  overflow: auto;

  &:empty {
    display: none;
  }

  &--red {
    @include note-style($red-base);
  }
  &--blue {
    @include note-style($blue-base);
  }
}
