/* reset */
body {
  margin: 0;
  font-family: Helvetica, Arial, sans-serif;
  line-height: 1.5;
}

a {
  text-decoration: none;
  padding: 0.1rem;
  overflow-wrap: break-word;
}
a[target="_blank"]::after {
  content: url(../images/external.svg);
  margin-left: 0.2rem;
}

article a,
.link--background-blue {
  color: black;
  background-color: rgba(187, 239, 253, 0.6);
}
article a:hover,
.link--background-blue:hover {
  background-color: rgb(187, 239, 253);
}

.scroll {
  overflow: auto;
}

h1,
h2,
h3,
h4 {
  scroll-margin-top: 4.5rem;
}

img {
  max-width: 100%;
}

.info {
  border-left: 8px solid #c00000;
  background-color: #eeeeee;
  margin: 20px 0px 30px 0px;
  padding: 5px 15px;
  overflow: auto;
}
.info:empty {
  display: none;
}
.info--blue {
  border-left-color: #61dafb;
}

/* global */
.content {
  margin: 0 auto;
  padding: 0 0.75rem;
}

.row {
  display: flex;
  flex-direction: column;
}
.col {
  flex: 1;
  margin-top: 1rem;
}

/* link */
.link--style-rounded {
  border-radius: 0.5rem 0;
  padding: 0.4rem;
}

/* button */
.button {
  padding: 0.8rem 1.5rem;
  border: 2px solid transparent;
  display: inline-block;
  font-weight: bold;
  appearance: none;
}
.button--border-blue {
  border: 2px solid rgb(120, 224, 252);
  color: rgb(120, 224, 252);
}
.button--border-darkblue {
  border: 2px solid rgb(37, 100, 117);
  color: rgb(37, 100, 117);
}
.button--border-blue:hover {
  text-decoration: underline;
}

/* color styles */
.link--text-blue {
  color: rgb(120, 224, 252);
}
.link--text-blue:hover {
  color: rgb(97, 218, 251);
}
.button--background-light-blue {
  background-color: rgba(187, 239, 253, 0.6);
}
.button--background-light-blue:hover {
  background-color: rgb(187, 239, 253);
}
.button--background-blue {
  background-color: rgb(120, 224, 252);
  color: black;
}
.button--background-blue:hover {
  background-color: rgb(97, 218, 251);
}
.link--background-gray-hover:hover {
  background-color: #f1f1f1;
}

/* accessibility */
.skip:not(:focus):not(:focus-within) {
  position: absolute;
  height: 1px;
  margin-top: -1px;
  overflow: hidden;
}

/* navigation */
.nav {
  background-color: #20232a;
  padding: 0.75rem 0;
  z-index: 1;
}
.nav__row {
  display: flex;
  flex-direction: column;
  text-align: center;
}
.nav__item {
  padding: 0.5rem;
  color: white;
}
.nav__item--name,
.nav__item:hover,
.nav__item--active {
  color: #61dafb;
}
.nav__item--name {
  font-weight: bold;
}

/* navigation aside */
.nav-aside__item {
  color: inherit;
  font-size: inherit;
}
.nav-aside__item:hover {
  text-decoration: underline;
}

/* header */
.header__title {
  margin: 1rem 0;
}

/* header introduction */
.header-introduction {
  background-color: #282c34;
  padding: 5.5rem 0;
  color: rgb(97, 218, 251);
  text-align: center;
}
.header-introduction__link {
  margin: 0 0.5rem;
}
.header-introduction__title {
  margin: 0;
  font-size: 3rem;
}
.header-introduction__description {
  font-size: 1.5rem;
  margin: 1rem 0 0 0;
}
.header-introduction__text {
  margin-top: 0.8rem;
}
.header-introduction__row {
  align-items: center;
  justify-content: center;
  margin-top: 1.5rem;
}

.main-grid__header {
  font-size: 21.3px;
}

/* aside */
.aside {
  color: #6c757d;
}
aside > nav {
  display: flex;
  flex-direction: column;
}
.aside__title {
  font-weight: bold;
  border-bottom: 1px solid #dee2e6;
  margin-bottom: 0.5rem;
}
.aside ul {
  list-style: none;
  padding-left: 1rem;
}
.aside ul li {
  margin-bottom: 0.25rem;
}
.aside > nav > ul {
  margin: 0;
  padding: 0;
}

.main-grid__aside {
  margin-top: 30px;
}

/* table */
.table {
  border-spacing: 0;
  overflow: auto;
}
.table tr:nth-child(even) {
  background: #ccc;
}
.table > * > :not(caption) > * > * {
  padding: 0.5rem;
}
.table thead {
  background-color: #aaa;
}
.table th {
  text-align: left;
}

/* footer */
footer {
  background-color: #20232a;
  color: #eeebe3;
  font-size: 0.875rem;
  overflow-wrap: break-word;
  padding: 1rem 0;
  margin-top: 1rem;
}
.footer__sources {
  border-bottom: 1px solid #d2d2d7;
}
/* Menu (in footer) */
.menu-content-option {
  display: none;
  max-width: 15rem;
  text-align: center;
  margin: auto;
}
.menu-content-option__show a {
  display: block;
}

.menu-content-option__show {
  display: block;
}
.menu-button {
  margin: auto;
  display: block;
}
.control-menu {
  background-color: #61dafb;
  margin-top: 3rem;
  position: relative;
  display: block;
}
.control-menu__block {
  display: none;
}
.control-menu h3 {
  padding-top: 1rem;
  text-align: center;
}
.control-menu-section input {
  margin-left: 1rem;
  margin-bottom: 1rem;
}
.control-menu-section h4 {
  margin-left: 1rem;
}
.control-menu-section img {
  position: absolute;
  right: 0;
  bottom: 0;
}
.aside-none {
  display: none;
}

/* assessment */
.question {
  background-color: #f1f1f1;
  padding: 1rem;
  margin-bottom: 1rem;
}
.legend {
  background: #20232a;
  color: white;
}

/* form */
.form__control-button {
  margin-right: 0.5rem;
}

@media (max-height: 768px) {
  .main-grid__aside li ul {
    display: none;
  }
}

/* breakpoints */
@media (min-width: 768px) {
  .nav {
    padding: 0;
    position: sticky;
    top: 0;
  }
  .row,
  .nav__row {
    flex-direction: row;
  }
  .nav__item {
    margin: 0 0.5rem 0 0;
    padding: 1.2rem 0.5rem;
  }

  aside {
    height: calc(100vh - 10rem);
    position: sticky;
    top: 5rem;
  }
  .aside-history {
    height: auto;
    position: static;
    top: 0;
  }

  .col {
    padding: 4rem;
    margin-top: 0;
  }

  .row {
    align-items: center;
  }

  .header-introduction__text {
    margin-top: 0;
  }

  .table > :not(caption) > * > *:nth-child(-n + 2) {
    white-space: nowrap;
  }

  .main-grid {
    display: grid;
    grid-template-columns: 4fr 1fr;
    grid-template-areas:
      "header aside"
      "content aside";
    grid-column-gap: 30px;
  }
  .main-grid__aside {
    margin-top: 40px;
    grid-area: aside;
    overflow-y: auto;
  }

  .main-grid__header {
    grid-area: header;
  }
  .main-grid__main {
    grid-area: content;
  }

  .sources {
    padding: 0 4rem 2rem 4rem;
  }
}

@media (min-width: 1400px) {
  .content {
    max-width: 1400px;
  }
}
