extends ../layouts/_base

block setData
    -
        data.url = "assessment";
        data.title = "Assessment";

block content
    noscript
        div.note.note--blue Enable Javascript to view this page.

block scripts
    script(src='js/assessment.js')
    //script(src='js/assessmentbundle.js')
