extends ../layouts/_base

include ../components/_banner
include ../components/_featured

block setData
    -
        // page values
        data.title = "Home";

        // featured
        data.featured = [
            {
                title: 'What is React?',
                subtitle: 'Introducing the JavaScript Library React.js',
                description: 'An open-source, front-end, JavaScript Library for building user interfaces maintained by Facebook and a community of individual developers. Learn more about this library by reading the article about it on our website.',
                button: 'Learn about React',
                url: 'what-is-react',
                image: 'images/what-is-react.jpg'
            },
            {
                title: 'Getting Started',
                subtitle: 'Install React to your computer',
                description: 'Learn how to integrate / add React to an HTML page and learn React with our practical tutorial of a step by step guide to the main concepts of React.',
                button: 'Get started with React',
                url: 'getting-started',
                image: 'images/getting-started.png'
            },
            {
                title: 'Notable Features',
                subtitle: 'Enhance your developing experience with our trademarks',
                description: 'Introducing new, revolutionary, groundbreaking, innovative, cutting-edge, leading-edge, radical, avant-garde features that will shake the very grounds of your understanding of web development.',
                button: 'Learn about notable features',
                url: 'notable-features',
                image: 'images/notable-features.png'
            },
            {
                title: 'History',
                subtitle: 'Learn about the history of the library React.js',
                description: 'More about the beginnings of the framework and the version history since.',
                button: 'Explore the history',
                url: 'history',
                image: 'images/history.png'
            },
            {
                title: 'Assessment',
                subtitle: '',
                description: '',
                button: 'Start quizzes',
                url: 'assessment',
                image: 'images/what-is-react.jpg'
            }
        ];

        // banner
        data.banner = {
            title: 'Webtech homework assignment',
            description: 'A JavaScript Library for building user interfaces',
            buttons: [
                {
                    text: 'Getting started',
                    url: 'getting-started'
                },
                {
                    text: 'What is react',
                    url: 'what-is-react',
                    style: 'border'
                }
            ]
        }

block banner
    +banner(
        data.banner.title,
        data.banner.description,
        data.banner.buttons
    )

block content
    each item in data.featured
        +featured(item)
