extends ../layouts/_base

block content 
    form.login_register(action='/login' method='POST')
        h1 Login form
        if(messages.error)
            .alert.alert-danger #{messages.error}
        p
            | Email:
            input.email(type='email' name='email' placeholder='Enter your Email' required='')
        p
            | Password:
            input.password(type='password' name='password' placeholder='Enter your password' required='')
        p
            input.bttnInlog(type='submit' value='Log in')
            a.register(href='register') Create account
