extends ../layouts/_base

include ../components/_header

block setData
    -
        // page values
        data.url = "login";
        data.title = "Login";

block content
    form.login_register(action='/login' method='POST')
        h1 Register form
        if(messages.error)
            .alert.alert-danger #{messages.error}
        p
            | Email:
            input.email(type='email' name='email' placeholder='Enter your Email' required='')
        p
            | Password:
            input.password(type='password' name='password' placeholder='Enter your password' required='')
        p
            a.register(href='register') Create account
        p
            input.bttnInlog(type='submit' value='Log in')
