extends ../layouts/_base

include ../components/_header

block setData
    -
        // page values
        data.url = "profile";
        data.title = "Profile";

block content
    article.pushdown
        +header('Profile Page')
        section.box_with_field
            h2 Personal information
            p
               strong Name:
               | #{user.name}
            p
                strong Email:
                | #{user.email}
            form(action='/logout' method='post')
                p
                    button.log_out(type='submit') Log out
        section.box_with_field
            h2 Quiz attempts record
            table.table_attempts
                thead
                    tr
                        th Quiz topic
                        th Grade
                tbody
                    tr
                        td React
                        td 7.8
                    tr
                        td React2
                        td 9
