extends ../layouts/_base

include ../components/_header

block setData
    -
        // page values
        data.url = "profile";
        data.title = "Profile";

block content
    article 
        +header('Profile Page')
        section.box_with_field
            h2 Personal information
            p  
               strong Name: 
               | #{user.name}
            p 
                strong Email:  
                | #{user.mail_address}
            form(action='/logout' method='POST')
                p
                    button.log_out(type='submit') Log out
        section.box_with_field 
            h2 Quiz attempts
            table 
                tr
                    th Quiz
                    th Grade 
                tr
                    td React 
                    td 7.8
