extends ../layouts/_base

include ../components/_header

block setData
    -
        // page values
        data.url = "profile";
        data.title = "Profile";

block content
    +header('Profile Page')
    p #{name}
    form(action='/logout' method='POST')
        p
            button(type='submit') Log out
