extends ../layouts/_base

block content 
    h1 Register here
    form(action='/register' method='POST')
      -if(messages.error)
      .alert.alert-danger #{messages.error}
      p
        | Name: 
        input(type='text' name='name' placeholder='Enter your Name' required='')
      p
        | Email: 
        input(type='email' name='email' placeholder='Enter your password' required='')
      p
        | Password:
        input(type='password' name='password' placeholder='Enter your Password' required='')
      p 
        input(type='submit' value='Submit')
    a(href='login') login 