doctype html
html(lang='en')
    head
        - let data = {}
        block setData

        include ../includes/_head
    body
        include ../includes/_skip

        include ../includes/_navigation

        block banner

        main#main.content
            include ../includes/_error
            block content

        include ../includes/_footer

        block scripts

        script(src='js/mobile.js')
