mixin sources(data)
    section.note
        h2#sources Sources
        ol
            each item in data
                li= item.text
                    if item.url
                        span  #[a(href=item.url, target="_blank")= item.url]
